In [54]:
import pandas as pd

In [99]:
df = pd.read_excel('deal-online-v2.deal (1) (1).xlsx')
df.head(5)

,ID,номер заявки,дата создания,статус заявки,id офиса,id компании офиса,название офиса,тип офисов,дата визита,роль заказчика,ID заказчика,Маркетинговое название,выбранные сервисы[0],выбранные сервисы[1],выбранные сервисы[2],выбранные сервисы[3],выбранные сервисы[4],сторона визита в офис
0,45428370-c4de-4e15-aee0-19fdaf02d570,85791760,2023-01-02T14:06:21.291Z,FINISHED,6241ad67580c6a763e00af8d,1.027740e+12,ОО «Сибирский тракт»,SINGLE,2023-02-11T00:00:00.000Z,PROFESSIONAL,f9ac2402-b968-4581-b426-a1b26c155f52,Нет компании,SBR,ER,ER_STATE_FEE,CUSTOM_DKP,NaN,NaN
1,4e6d9d07-35e4-4983-b05b-f410025c1587,СПО-64451501,2023-01-03T12:35:42.510Z,DRAFT,NaN,NaN,NaN,SINGLE,NaN,CLIENT,3e74b20b-5869-47a9-896c-c6c7ee6b4bac,Нет компании,DEAL_ONLINE,ER_STATE_FEE,SBR,ER,DKP_M2,NaN
2,78e4db19-87af-441c-89fa-8cd60dc99a66,СПО-50578905,2023-01-04T11:17:58.337Z,DRAFT,NaN,NaN,NaN,SINGLE,NaN,CLIENT,d415340c-2e60-4ffa-939b-5e0b3132adb8,Нет компании,DEAL_ONLINE,ER_STATE_FEE,SBR,ER,DKP_M2,NaN
3,5bb227b8-73f3-46da-9653-8f0f4bf04446,СПО-37563286,2023-01-04T11:28:53.953Z,SUBMITTED,6241ad67580c6a763e00af9e,1.027740e+12,РОО «Ростовский»,SINGLE,2023-01-21T00:00:00.000Z,CLIENT,8324a752-46a3-4050-b419-8d6aa2dbcec9,Нет компании,DEAL_ONLINE,ER_STATE_FEE,SBR,ER,DKP_M2,NaN
4,c87a5012-e35e-46f5-ba8b-0e5da722858a,95063475,2023-01-04T19:17:03.928Z,DRAFT,NaN,NaN,NaN,SINGLE,NaN,PROFESSIONAL,0f6f97b8-100c-4785-8177-d92ad93ea042,Нет компании,SBR,ER,ER_STATE_FEE,CUSTOM_DKP,NaN,NaN

In [100]:
def determine_success(row):
    if row['статус заявки'] in ['DRAFT', 'CANCELED']:
        return 'DRAFT/CANC'
    else:
        return 'SUCCESS'
df['Статус'] = df.apply(determine_success, axis=1)
df.head(5)

,ID,номер заявки,дата создания,статус заявки,id офиса,id компании офиса,название офиса,тип офисов,дата визита,роль заказчика,ID заказчика,Маркетинговое название,выбранные сервисы[0],выбранные сервисы[1],выбранные сервисы[2],выбранные сервисы[3],выбранные сервисы[4],сторона визита в офис,Статус
0,45428370-c4de-4e15-aee0-19fdaf02d570,85791760,2023-01-02T14:06:21.291Z,FINISHED,6241ad67580c6a763e00af8d,1.027740e+12,ОО «Сибирский тракт»,SINGLE,2023-02-11T00:00:00.000Z,PROFESSIONAL,f9ac2402-b968-4581-b426-a1b26c155f52,Нет компании,SBR,ER,ER_STATE_FEE,CUSTOM_DKP,NaN,NaN,SUCCESS
1,4e6d9d07-35e4-4983-b05b-f410025c1587,СПО-64451501,2023-01-03T12:35:42.510Z,DRAFT,NaN,NaN,NaN,SINGLE,NaN,CLIENT,3e74b20b-5869-47a9-896c-c6c7ee6b4bac,Нет компании,DEAL_ONLINE,ER_STATE_FEE,SBR,ER,DKP_M2,NaN,DRAFT/CANC
2,78e4db19-87af-441c-89fa-8cd60dc99a66,СПО-50578905,2023-01-04T11:17:58.337Z,DRAFT,NaN,NaN,NaN,SINGLE,NaN,CLIENT,d415340c-2e60-4ffa-939b-5e0b3132adb8,Нет компании,DEAL_ONLINE,ER_STATE_FEE,SBR,ER,DKP_M2,NaN,DRAFT/CANC
3,5bb227b8-73f3-46da-9653-8f0f4bf04446,СПО-37563286,2023-01-04T11:28:53.953Z,SUBMITTED,6241ad67580c6a763e00af9e,1.027740e+12,РОО «Ростовский»,SINGLE,2023-01-21T00:00:00.000Z,CLIENT,8324a752-46a3-4050-b419-8d6aa2dbcec9,Нет компании,DEAL_ONLINE,ER_STATE_FEE,SBR,ER,DKP_M2,NaN,SUCCESS
4,c87a5012-e35e-46f5-ba8b-0e5da722858a,95063475,2023-01-04T19:17:03.928Z,DRAFT,NaN,NaN,NaN,SINGLE,NaN,PROFESSIONAL,0f6f97b8-100c-4785-8177-d92ad93ea042,Нет компании,SBR,ER,ER_STATE_FEE,CUSTOM_DKP,NaN,NaN,DRAFT/CANC

In [101]:
df['название офиса'] = df['название офиса'].fillna('Офис не заполнен')
df['id компании офиса'] = df['id компании офиса'].astype(str)
df['месяц создания'] = pd.to_datetime(df['дата создания'])
df['месяц создания'] = df['месяц создания'].dt.to_period('M')
df['дата создания'] = pd.to_datetime(df['дата создания'])
df['дата_создания'] = df['дата создания'].dt.date
df.head(5)

C:\Users\flerinvs\AppData\Local\Temp\ipykernel_12948\4108640551.py:4: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df['месяц создания'] = df['месяц создания'].dt.to_period('M')

,ID,номер заявки,дата создания,статус заявки,id офиса,id компании офиса,название офиса,тип офисов,дата визита,роль заказчика,...,Маркетинговое название,выбранные сервисы[0],выбранные сервисы[1],выбранные сервисы[2],выбранные сервисы[3],выбранные сервисы[4],сторона визита в офис,Статус,месяц создания,дата_создания
0,45428370-c4de-4e15-aee0-19fdaf02d570,85791760,2023-01-02 14:06:21.291000+00:00,FINISHED,6241ad67580c6a763e00af8d,1027739609391.0,ОО «Сибирский тракт»,SINGLE,2023-02-11T00:00:00.000Z,PROFESSIONAL,...,Нет компании,SBR,ER,ER_STATE_FEE,CUSTOM_DKP,NaN,NaN,SUCCESS,2023-01,2023-01-02
1,4e6d9d07-35e4-4983-b05b-f410025c1587,СПО-64451501,2023-01-03 12:35:42.510000+00:00,DRAFT,NaN,nan,Офис не заполнен,SINGLE,NaN,CLIENT,...,Нет компании,DEAL_ONLINE,ER_STATE_FEE,SBR,ER,DKP_M2,NaN,DRAFT/CANC,2023-01,2023-01-03
2,78e4db19-87af-441c-89fa-8cd60dc99a66,СПО-50578905,2023-01-04 11:17:58.337000+00:00,DRAFT,NaN,nan,Офис не заполнен,SINGLE,NaN,CLIENT,...,Нет компании,DEAL_ONLINE,ER_STATE_FEE,SBR,ER,DKP_M2,NaN,DRAFT/CANC,2023-01,2023-01-04
3,5bb227b8-73f3-46da-9653-8f0f4bf04446,СПО-37563286,2023-01-04 11:28:53.953000+00:00,SUBMITTED,6241ad67580c6a763e00af9e,1027739609391.0,РОО «Ростовский»,SINGLE,2023-01-21T00:00:00.000Z,CLIENT,...,Нет компании,DEAL_ONLINE,ER_STATE_FEE,SBR,ER,DKP_M2,NaN,SUCCESS,2023-01,2023-01-04
4,c87a5012-e35e-46f5-ba8b-0e5da722858a,95063475,2023-01-04 19:17:03.928000+00:00,DRAFT,NaN,nan,Офис не заполнен,SINGLE,NaN,PROFESSIONAL,...,Нет компании,SBR,ER,ER_STATE_FEE,CUSTOM_DKP,NaN,NaN,DRAFT/CANC,2023-01,2023-01-04

In [ ]:
df.groupby(['id компании офиса', 'название офиса', 'Статус']).agg({'ID':'count'}).reset_index()

In [103]:
#кол-во по офисам
pivot_df = df.pivot_table(index=['месяц создания', 'id компании офиса', 'название офиса'],
                          columns='Статус',
                          values='ID',
                          aggfunc='count',
                          fill_value=0).reset_index()
pivot_df.head(5)

Статус,месяц создания,id компании офиса,название офиса,DRAFT/CANC,SUCCESS
0,2023-01,1027700024560.0,ДО «Сухаревское»,0,4
1,2023-01,1027739609391.0,"ДО ""Академический""",0,4
2,2023-01,1027739609391.0,"ДО ""Анапский""",0,2
3,2023-01,1027739609391.0,"ДО ""Зеленоградский""",0,2
4,2023-01,1027739609391.0,"ДО ""Меридиан""",1,6

In [104]:
#кол-во по компаниям(владельцы офисов)
pivot_df2 = df.pivot_table(index=['месяц создания', 'id компании офиса'],
                          columns='Статус',
                          values='ID',
                          aggfunc='nunique',
                          fill_value=0).reset_index()
pivot_df2.head(5)

Статус месяц создания  id компании офиса  DRAFT/CANC  SUCCESS
0             2023-01    1027700024560.0           0        4
1             2023-01    1027739609391.0          15      523
2             2023-01  316169000161051.0           0        1
3             2023-01    5102798178808.0           2        1
4             2023-01                nan         126        0

In [119]:
#кол-во по компаниям, детально по заказчикам
q = ['PROFESSIONAL', 'REALTOR']
pivot_df1 = df.query("`роль заказчика` ==  @q " ).pivot_table(index=['месяц создания', 'Маркетинговое название', 'ID заказчика'],
                          columns='Статус',
                          values='ID',
                          aggfunc='count',
                          fill_value=0).reset_index()
pivot_df1

Статус,месяц создания,Маркетинговое название,ID заказчика,DRAFT/CANC,SUCCESS
0,2023-01,"""ИСК ""Градстрой""",674a8543-deb2-41ad-8c12-f7489e5d75db,0,2
1,2023-01,"""Ипотечное агентство недвижимости - Гарант""",f7f205fc-96cc-4293-a316-56020eeb9196,0,2
2,2023-01,Century21 Level,214a2b61-4755-4f47-98e6-889f9269a32d,0,1
3,2023-01,Estateliga,93c0811e-84a8-4c0b-bb38-5a721ee2f0de,1,4
4,2023-01,Homeapp,8319fe08-6030-458c-b07f-180c995dcd65,0,2
...,...,...,...,...,...
10739,2023-12,Этажи Ухта,531a6a80-0224-48d4-96b3-e5befbcd354f,0,1
10740,2023-12,Этажи Ухта,c22a2c0c-c495-4e70-b3f8-02871941a189,0,1
10741,2023-12,ЮА Лика,438123bc-1b31-4e40-952b-4324a79ded3f,1,0
10742,2023-12,Юридическая компания «КварталСити»,4e315536-69cf-4398-b70a-ee75113bbb22,0,1
10743,2023-12,"Юридическо-риэлторский центр ""Наш дом""",031be8fa-2d5c-4283-9b67-657aee91c17c,0,1

In [106]:
#кол-во по компаниям, детально по заказчикам
q = ['PROFESSIONAL', 'REALTOR']
pivot_df3 = df.query("`роль заказчика` ==  @q " ).pivot_table(index=['Маркетинговое название' ],
                          columns='Статус',
                          values='ID',
                          aggfunc='nunique',
                          fill_value=0).reset_index()


pivot_df3['share'] = pivot_df3['DRAFT/CANC'] /( pivot_df3['SUCCESS'] + pivot_df3['DRAFT/CANC'])
pivot_df3

Статус           Маркетинговое название  DRAFT/CANC  SUCCESS     share
0                         "FORTE GROUP"           0        1  0.000000
1                        "А Индастриал"           1        0  1.000000
2        "АГЕНТСТВО "ЮРИДИЧЕСКИЙ ГОРОД"           0        2  0.000000
3                    "АН" Риэлтекс" ООО           0        1  0.000000
4                        "Бюро Пановой"           1        6  0.142857
...                                 ...         ...      ...       ...
2427     агентство недвижимости "Диал "           0        3  0.000000
2428    агентство недвижимости Свой Дом           0        1  0.000000
2429                            мой дом           0        2  0.000000
2430                                нет           0        1  0.000000
2431         центр недвижимости ВАРИАНТ           2        5  0.285714

[2432 rows x 4 columns]

In [107]:
# Находим индексы строк с максимальными значениями 'дата создания' для каждого 'Маркетинговое название'
max_dates_index = df.groupby(['Маркетинговое название']).agg({'дата создания': 'max'}).reset_index()
max_dates_index

               Маркетинговое название                    дата создания
0                       "FORTE GROUP" 2023-11-13 11:00:53.026000+00:00
1                      "А Индастриал" 2023-10-23 20:48:08.284000+00:00
2      "АГЕНТСТВО "ЮРИДИЧЕСКИЙ ГОРОД" 2023-12-18 11:08:02.074000+00:00
3                  "АН" Риэлтекс" ООО 2023-08-17 14:57:14.396000+00:00
4                      "Бюро Пановой" 2023-10-27 06:00:21.382000+00:00
...                               ...                              ...
2427   агентство недвижимости "Диал " 2023-08-17 09:39:11.997000+00:00
2428  агентство недвижимости Свой Дом 2023-03-30 16:48:47.628000+00:00
2429                          мой дом 2023-11-28 06:08:25.820000+00:00
2430                              нет 2023-11-02 07:26:08.568000+00:00
2431       центр недвижимости ВАРИАНТ 2023-07-13 06:15:35.505000+00:00

[2432 rows x 2 columns]

In [108]:
t = pd.merge(pivot_df3, max_dates_index[['Маркетинговое название', 'дата создания']], left_on='Маркетинговое название', right_on='Маркетинговое название', how='left')
t1 = df.groupby(['Маркетинговое название',  'статус заявки']).agg({'дата создания':'max'}).reset_index()
temp = pd.merge(t, t1[['статус заявки','Маркетинговое название', 'дата создания']], left_on=['дата создания', 'Маркетинговое название' ], right_on=['дата создания', 'Маркетинговое название' ], how='left')
temp['дата создания'] = temp['дата создания'].dt.tz_localize(None)
temp

,Маркетинговое название,DRAFT/CANC,SUCCESS,share,дата создания
0,"""FORTE GROUP""",0,1,0.000000,2023-11-13 11:00:53.026000+00:00
1,"""А Индастриал""",1,0,1.000000,2023-10-23 20:48:08.284000+00:00
2,"""АГЕНТСТВО ""ЮРИДИЧЕСКИЙ ГОРОД""",0,2,0.000000,2023-12-18 11:08:02.074000+00:00
3,"""АН"" Риэлтекс"" ООО",0,1,0.000000,2023-08-17 14:57:14.396000+00:00
4,"""Бюро Пановой""",1,6,0.142857,2023-10-27 06:00:21.382000+00:00
...,...,...,...,...,...
2427,"агентство недвижимости ""Диал """,0,3,0.000000,2023-08-17 09:39:11.997000+00:00
2428,агентство недвижимости Свой Дом,0,1,0.000000,2023-03-30 16:48:47.628000+00:00
2429,мой дом,0,2,0.000000,2023-11-28 06:08:25.820000+00:00
2430,нет,0,1,0.000000,2023-11-02 07:26:08.568000+00:00
2431,центр недвижимости ВАРИАНТ,2,5,0.285714,2023-07-13 06:15:35.505000+00:00

In [122]:
#кол-во по компаниям, детально по заказчикам
q = ['PROFESSIONAL', 'REALTOR']
pivot_df4 = df.query("`роль заказчика` ==  @q " ).pivot_table(index=['месяц создания', 'Маркетинговое название'],
                          columns='Статус',
                          values='ID',
                          aggfunc='count',
                          fill_value=0).reset_index()
pivot_df4

Статус,месяц создания,Маркетинговое название,DRAFT/CANC,SUCCESS
0,2023-01,"""ИСК ""Градстрой""",0,2
1,2023-01,"""Ипотечное агентство недвижимости - Гарант""",0,2
2,2023-01,Century21 Level,0,1
3,2023-01,Estateliga,1,4
4,2023-01,Homeapp,0,2
...,...,...,...,...
4465,2023-12,Этажи Нижний Новгород,0,1
4466,2023-12,Этажи Ухта,0,2
4467,2023-12,ЮА Лика,1,0
4468,2023-12,Юридическая компания «КварталСити»,0,1
4469,2023-12,"Юридическо-риэлторский центр ""Наш дом""",0,1

In [ ]:
pivot_df.to_excel('t1.xlsx')
pivot_df1.to_excel('t2.xlsx')
pivot_df2.to_excel('t3.xlsx')
temp.to_excel('t4.xlsx', index=False)
pivot_df4.to_excel('t5.xlsx')